body{
	background-color:#AAA;
}
.filme{
	background-color:rgba(255,255,255, 0.8);
	height:1000px;
	border-bottom: 0.5px solid #888;
	width:1300px;
	margin:0 auto;
	
}
.filme:first-child{
	margin-top:60px;
}

p{
	clear:left;
}
h1,h2{
	margin-top:0px;
	text-transform: uppercase;
	
}
h2{
	font-family: 'Lobster', cursive;
	font-size:2.5em;
	color:#FFFF00;
	position:relative;
	top:20px;
	margin-left:50px;
	margin-bottom:30px;
}
h1{
	color: #FFF;
}
.filme-figura{
	width:500px;
	height:350px;
	margin-left:100px;
	position:relative;
	display:inline;
	float:left;
	top:10px;
}
.fa{
	color:#FFFF00;
}
.filme-rating{
	border-top: 1.5px solid #FF0000;
	border-bottom: 1.5px solid #FF0000;
	width:900px;
	margin:0 auto;
	display:clear;
	margin-top:80px;
	
}
.netflix{
	width:100%;
	position:fixed;
	margin-top:-80px;
}
.catalogo{
	position:absolute;
	margin-top:600px;
	width:100%;
}
.filme-rating li{
	list-style:none;
	
}
.filme-details{
	position:relative;
	margin-top:-390px;
	width:400px;
	float:right;
}
.classificacao{
	position:relative;
	margin-top:-410px;
	width:400px;
	float:right;
	text-transform:uppercase;
	color: #FF0000;
}
.filme-details p, .filme-details li{
	color:#555;
	font-size:1.2em
}
.filme-details p{
	text-transform:uppercase;
}
.filme-resumo{
	font-size:1.3em;
	width:500px;
	position:relative;
	top:10px;
	margin-left:100px;
	background-color:rgba(255,255,255,0.7);
	position:relative;
}
.filme-relacionado{
	
	margin:0 auto;
	width:1100px;
}

.filme-relacionado img{
	width:300px;
	margin-left:20px;
	margin-top:10px;
	
}
.relacionado{
	font-size:2em;
	font-family: 'Baloo Bhaijaan', cursive;
	margin-top:40px;
	margin-left:200px;
}